<!DOCTYPE html>
<html>
  <head>
  	<title>Cookies Example</title>
  </head>
  <body>
  	<div>
	    <h1>Received cookies:</h1>
	    <ul th:if="${!cookies.empty}">
	       <li th:each="item : ${cookies}" th:text="${item}"></li>
	    </ul>
	    <p th:if="${cookies.empty}">
	    	No cookie found. :(
	    </p>
	</div>
  </body>
</html>