<!DOCTYPE html>
<html>
  <head>
  	<title>XSS example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
  	<div class="col-md-6 col-md-offset-3">
	  	<h1>XSS example</h1>

	  	<h3>Welcome, <span sec:authentication="name"></span>!</h3>

		<h4>Comments:</h4>
		<div th:if="${comments.empty}">
            No comments yet.
        </div>
        <div class="panel panel-default" th:each="comment : ${comments}">
			<div class="panel-heading">
				<em><strong th:text="${comment.author}"></strong> commented</em><br>
			</div>
			<!-- !! THINK TWICE BEFORE YOU USE UNESCAPED TEXT !! -->
			<div class="panel-body" th:utext="${comment.text}"></div>
		</div>
		<h4>Write your comment:</h4>
		<form method="POST" action="/comment">
			<textarea class="form-control" name="text" rows="3"></textarea>
			<input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 10px" />
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>

	  	<form method="POST" action="/logout" style="margin-top: 20px">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="submit" value="Logout" class="btn btn-primary" />
		</form>
	</div>
  </body>
</html>