<!DOCTYPE html>
<html>
  <head>
  	<title>Employees list</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
	<div class="col-md-6 col-md-offset-3">
		<h1>All employees</h1>
	  	<table class="table">
		    <thead>
		        <tr>
		            <th>Name</th>
		            <th>Manager</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${employees.empty}">
		            <td colspan="2">We have no employees. We are a strange company.</td>
		        </tr>
		        <tr th:each="employee : ${employees}">
		            <td><span th:text="${employee.name}"></span></td>
		            <td><span th:text="${employee.manager}"></span></td>
		        </tr>
		    </tbody>
		</table>

		<a href="/">&lt;&lt; Back</a>
	</div>
  </body>
</html>