<!DOCTYPE html>
<html>
  <head>
  	<title>Subordinates list</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <div class="col-md-6 col-md-offset-3">
  	<h1>My subordinates</h1>
	  	<table class="table">
		    <thead>
		        <tr>
		            <th>Name</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${subordinates.empty}">
		            <td colspan="2">You have no subordinates.</td>
		        </tr>
		        <tr th:each="subordinate : ${subordinates}">
		            <td><span th:text="${subordinate.name}"></span></td>
		            <td>
		            	<form method="POST" action="/subordinates/delete">
			            	<input type="submit" class="btn btn-danger btn-sm" value="Delete" />
			            	<input type="hidden" name="id" th:value="${subordinate.id}" />
			            	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		            	</form>
		            </td>
		        </tr>
		    </tbody>
		</table>

	  	<a href="/">&lt;&lt; Back</a>
  	</div>
  </body>
</html>