<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Security Example Login</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	    	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" th:href="@{/css/login.css}" />
	</head>
	<body>
		<div class="container">
		    <div class="row" id="login-form-container">
		        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		            <form th:action="@{/login}" method="post">
		                <fieldset>
		                    <h1>My login form</h1>
		                    <h3>Please sign in</h3>

		                    <div th:if="${param.error}">
		                        <div class="alert alert-danger">
		                            Invalid username or password.
		                        </div>
		                    </div>
		                    <div th:if="${param.logout}">
		                        <div class="alert alert-info">
		                            You have been logged out.
		                        </div>
		                    </div>

		                    <div class="form-group">
		                        <input type="text" name="username" id="username" class="form-control input-lg"
		                               placeholder="username" required autofocus />
		                    </div>
		                    <div class="form-group">
		                        <input type="password" name="password" id="password" class="form-control input-lg"
		                               placeholder="password" required />
		                    </div>

		                    <div class="row">
		                        <div class="col-xs-6 col-sm-6 col-md-6">
		                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
		                        </div>
		                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
		                    </div>
		                </fieldset>
		            </form>
		        </div>
		    </div>
		</div>
	</body>
</html>
